body{
    margin-top:20px;
    background: #f8f8f8;
}
.active button{
    font-weight:bolder;
}
.todo-nav {
    margin-top: 10px
}

.todo-list {
    margin: 10px 0
}

.todo-list .todo-item {
    padding: 15px;
    margin: 5px 0;
    border-radius: 0;
    background: #f7f7f7;
    overflow: hidden;
    cursor: pointer;
}
.todo-list .todo-item.completed{
    background: #e0ecff;
}
.todo-list .todo-item.completed .content span{
    text-decoration: line-through;
}
.todo-list .todo-item .right-side{
    transform: translateY(180px);
    transition: 500ms;
}
.todo-list .todo-item:hover .right-side{
    transform: translateY(0px);
}
footer{
    position: relative;
    top: 100%;
    bottom:0;
}